
<tr>
  <td><%= f.input :name%></td>
  <td><%= f.input :state_id , collection: states.where(level: "activity")%></td>
  <td><%= f.input :formula %></td>
  <%= f.hidden_field :kind, value: 'formula' %>
</tr>
