<div class="actions pull-right">
  <%= link_to 'New Activity', new_setup_project_activity_path(@activity.project), class: 'btn btn-info' %>
</div>

<h1>Create activity and associated dhis2 elements</h1>

<%= simple_form_for(activity,  url: setup_project_activities_path(activity.project), method: :post) do |f| %>
  <%= render 'form', f: f %>
<% end %>
