<table class="table" style="width: 100%">
   <thead>
     <tr>
       <th>Code / Description</th>
       <th>Expression</th>
     </tr>
   </thead>
   <tbody>
    <%rule.formulas.each do|formula|%>
      <tr>
        <td ><%= formula.code%>
            <br>&nbsp;&nbsp;<i><%=formula.short_name%></i>
            <br>&nbsp;&nbsp;<i><%=formula.description%></i></td>
        <td ><pre style="white-space: pre-wrap;word-wrap: break-word;"><%= formula.expression%></pre></td>
      </tr>
    <%end%>
   <tbody>
</table>