<h3>More advanced expression</h3>

Math:
<pre>
 +, -, *, /
</pre>
Logic:
<pre> <, >, <=, >=, <>, !=, =, AND, OR </pre>
Functions:
<pre>
IF( expression , true_value, false_value)
NOT(expression)
MIN(value1, value2)
MAX(value1, value2)
ROUND(value)
ROUNDDOWN(value)
ROUNDUP(value)

</pre>
Functions taking a multiple arguments:
<pre>
AVG(quality_technical_score_value_values)
SCORE_TABLE(
   range_a, range_b, then_c,
   range_b, range_d, then_f,
   range_d, range_h, then_i,
   else_z
)
SAFE_DIV(numerator, denominator) # will return 0 if denominator == 0
</pre>
