<h3>More advanced expression</h3>

<h4>Math:</h4>
<pre>
 +, -, *, /
</pre>

<h4>Logic:</h4>
<pre> <%= h "<, >, <=, >=, <>, !=, =, AND, OR" %> </pre>

<h4>Functions:</h4>
<%

  functions = {
    "IF" => [
      "IF(expression, true_value, false_value)",
      "If <code>expression</code> evaluates to true, returns <code>true_value</code> otherwise <code>false_value</code>"
    ],
    "MIN" => [
      "MIN(value1, value2)",
      "Returns the minum of the two values (can also take an <code>ARRAY</code>)"
    ],
    "MAX" => [
      "MAX(value1, value2)",
      "Returns the maximum of the two values (can also take an <code>ARRAY</code>)"
    ],
    "ROUND" => [
      "ROUND(value(, decimals))",
      "Rounds to nearest integer, when <code>decimals</code> supplied, round to decimals after the comma)"
    ],
    "TRUNC" => [
      "TRUNC(value(, decimals))",
<<-EXPL
Truncs to nearest integer, when <code>decimals</code> supplied, Truncs to decimals after the comma.",
TRUNC(1.23456)    => 1.0
TRUNC(-1.23456)   => 1.0
TRUNC(1.23456, 2) => 1.23
      EXPL
    ],
    "CEILING" => [
      "CEILING(value(, significance))",
<<-EXPL
Returns number rounded up, away from zero, to the nearest multiple of significance.  <code>significance</code> : the multiple to which you want to round."
CEILING(1.23456)      => 2.0
CEILING(-1.23456)     => 1.0
CEILING(12.23456, 10) => 20
EXPL
    ],
    "FLOOR" => [
      "FLOOR(value(, significance))",
      <<-EXPL
Rounds number down, toward zero, to the nearest multiple of significance. <code>significance</code> : the multiple to which you want to round.
FLOOR(1.23456)    => 1.0
FLOOR(-1.23456)    => -2.0
FLOOR(12.23456, 10) => 10
EXPL

    ],
    "ABS" => [
      "ABS(value)",
      "Returns the absolute value of <code>value</code>"
    ],
    "RANDBETWEEN" => [
      "RANDBETWEEN(a, b)",
      "Generates a random number between <code>a</code> and <code>b</code>"
    ],
    "SUM" => [
      "SUM(a,b,c,...)",
      "Sums a, b and c. (can also take an <code>ARRAY</code>)"
    ],
    "AVG" => [
      "AVG(a,b,c,...)",
      "Returns the average of a,b and c (can also take an <code>ARRAY</code>)"
    ],
    "STDEVP" => [
      "STDEVP(a,b,c,...)",
       <<-EXPL
      Return the standard deviation based on the entire population given as arguments.
      The standard deviation is a measure of how widely values are dispersed from the average value (the mean).
      (can also take an <code>ARRAY</code>)
      EXPL
    ],
    "EVAL_ARRAY" => [
      "EVAL_ARRAY(key1, arr1, key2, arr2, meta_formula)",
      <<-EXPL
Allows you to perform a function on two arrays which will return an array.

    key1 - Key to use in meta_formula for arr1
    arr1 - An array
    key2 - Key to use in meta_formula for arr2
    meta_formula - Formula which gets applied for each element

EVAL_ARRAY('a', (1,2), 'b', (3,4), 'a + b')
Would return [4, 6] (1+3 and 2+4)
    EXPL
    ],
    "ARRAY" => [
      "ARRAY(a,b,c,...)",
      <<-EXPL
Takes a variable number of arguments and returns an <code>ARRAY</code> which can be used in other formulas.

You could make a formula ('a') which returns <code>ARRAY(1,2,3)</code> and then reuse this in another formula to get the sum of 'a' <code>SUM(a)</code>
    EXPL
    ],
    "SCORE_TABLE" => [
      "SCORE_TABLE(range_a, range_b, then_c,range_b, range_d, then_f,range_d, range_h, then_i,else_z)",
 <<-EXPL
SCORE_TABLE(
      range_a, range_b, then_c,
      range_b, range_d, then_f,
      range_d, range_h, then_i,
      else_z
    )
Allow compact if else ranges check
EXPL
    ],
    "SAVE_DIV" => [
      "SAFE_DIV(numerator, denominator)",
      "Returns numerator divided by denominator, but will return 0 when denominator is 0"
    ],
    "SQRT" => [
      "SQRT(number)",
      "Returns a positive square root. If the the number is negative this will fails. "
    ],
    "CAL_DAYS_IN_MONTH" => [
      "CAL_DAYS_IN_MONTH(year, month_of_year)",
      "Returns the number days in gregorian calendar for that month. month_of_year is from 1 to 12, year should be > 1900"
    ],
  }
%>
<dl>
  <% functions.sort.to_h.each do |title, (example, usage)| %>
    <dt><code><%= example %></code></dt>
    <dd>
      <pre>
      <%= usage.html_safe %>
      </pre>
    </dd>
  <% end %>
</dl>


</pre>
