<div class="container">
  <div class="row form-group">
    <%= render partial: "form"  %>

    <% if @org_unit_summaries %>
      <br>
      <br>
      <% @org_unit_summaries.each do |summary|%>
        <%= summary %> <br>
      <%end%>
      <br>
      <br>
      <br>
    <%end%>

    <br>
    <br>
    <button class="pull-right btn btn-default" onclick="copyToClipboard('#project_descriptor')"><%= icon("fas", "copy") %></button>

    <button class="pull-right btn btn-default" data-toggle="collapse" data-target="#rules-descriptors">Show descriptors</button>
    <div id="rules-descriptors" class="collapse">
      <pre id="project_descriptor" ><%= as_pretty_json_string(project_descriptor(@current_project))%></pre>
    </div>
  </div>
</div>
