
<h1>Show changes</h1>
<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Event</th>
      <th>Auteur</th>
      <th>Objet</th>
    </tr>
  </thead>
	<tbody>
	<% @versions.each do |version| %>
		<tr>
			<td><%= version.item_type %></td>
			<td><%= version.event %></td>
			<td> <%= version.whodunnit %></td>
			<td> <%= version.object %></td>
		</tr>
	<% end%>
	</tbody>
</table>