<tr>
    <td><%= link_to activity.name, edit_setup_project_activity_path(project,activity.id) %></td>
    <td><small>
      <% activity.activity_states.each do |activity_state| %>
        <li><%= activity_state.name %> (<%= activity_state.state.name %>)</li>
      <% end %>
    </small></td>
    <td>
      <small><% activity.activity_packages.each do |activity_package| %>
        <li><%= activity_package.package.name %></li>
      <% end %>
    </small></td>
</tr>
