<small>
Decision table
<ul>
  <li>in : <%= decision_table.in_headers.map(&:to_s).map(&:humanize).join(", ")%></li>
  <li>out : <%= decision_table.out_headers.map(&:to_s).map(&:humanize).join(", ") %></li>
</ul>
</small>
