<tr>
    <td><%= link_to package.name , edit_setup_project_package_path(project,package)%></td>
    <td>
        <small><%= package.package_entity_groups.map{ |entitygroup|  entitygroup.name }.join(', ') %></small>
    </td>
    <td>
        <small><%= package.states.map{ |state| state.name }.join(', ') %></small>
    </td>
    <td>
        <small><%= package.activity_packages.map{ |ap| ap.activity.name }.join(', ') %></small>
    </td>
</tr>
