<% if step.model%>
  <table class="table table-striped table-condensed">
      <thead>
          <tr>
              <th>Package</th>
              <th>Activity rule(s)</th>
              <th>Package rule(s)</th>
          </tr>
      </thead>
      <body>
          <%= render partial: "rule", collection: step.model, as: :package, locals: {readonly: readonly} %>
      </body>
  </table>
<br>
<%if @project.payment_rules %>
  <table class="table table-striped table-condensed">
      <thead>
          <tr>
              <th>Payment rule</th>
              <th>Available output</th>
              <th>Name</th>
          </tr>
      </thead>
      <body>
          <%= render partial: "project_rule", collection: @project.payment_rules, locals: {readonly: readonly} %>
      </body>
  </table>
  <% unless @project.unused_packages.empty? %>
  <div class="alert alert-warning" role="alert">
    <b> Package not yet used in payment rule : </b> <%= @project.unused_packages.map(&:name).join('') %>
    <b> You probably want to create one !</b>
  </div>
  <% end %>
  <%= link_to 'Let\'s add final payment rule', new_setup_project_rule_path(@project) , class: 'btn btn-info pull-right'%>
  <% end %>
<% end %>
