<%if project &&  project.id%>
  <% if step.model%>
    <%= simple_form_for(step.model,  url: setup_project_publish_drafts_path(project), method: :post) do |f| %>
      <div class="form-group">
        <label class="control-label">Date:</label>
          <%= f.input_field :publish_date, as: :string, :readonly => true, class: "form-control input-date" %>
      </div>
      <%= f.submit 'Publish project', name: :publish_project ,  class: "btn btn-success" %>
    <% end %>
  <% end %>
<% end %>
