<tr>
    <td><%= package.name %></td>
    <td>
        <small><%= package.package_entity_groups.map{ |entitygroup|  entitygroup.name }.join(', ') %></small>
    </td>
    <td>
        <small><%= package.states.map{ |state| state.name }.join(', ') %></small>
    </td>
</tr>
