<tr>
    <td><%= project_rule.rule.name %></td>
    <td>
      <div class="col-md-8">
          <%= render partial: "rule_formulas", locals: { formulas: project_rule.rule.formulas }%>
      </div>
    </td>
    <td>
      <%= link_to project_rule.rule.name, edit_setup_project_rule_path(current_program.project, project_rule) ,
              class: project_rule.invalid? ? 'btn btn-danger' :''  %> <%= project_rule.invalid? ? icon('exclamation-triangle text-danger fa-lg') :''%>
    </td>

</tr>
