<% if step.model%>
<div id="orgunitgroup_message"></div>
<%= simple_form_for(step.model,  url: setup_project_main_entity_group_path(current_program.project), method: :post) do |f| %>
<%= f.input :external_reference, as: :hidden, input_html: { id: "external_reference" } %>
<%= f.input :name, input_html: { data: { id_element: '#external_reference', autocomplete: organisation_unit_group_setup_project_autocomplete_index_path(current_program.project)}, class: "form-control", placeholder: "Type some letters to start searching...", id: "organisation_unit_group" } %>

<div>Some contracted entities:</div>
<div>
    <ul id="organisation_units"></ul>
</div>

<%= f.button :submit, class: "btn btn-success" %>
<% end %>
<% end %>
