<form>
  <div class="form-group">
    <label for="url">dhis2 url (without user password)</label>
    <input type="url" class="form-control" id="email" placeholder="eg : https://play.dhis2.org/demo">
  </div>
  <div class="form-group">
    <label for="user">User:</label>
    <input type="user" class="form-control" id="pwd">
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
      <label><input type="checkbox">Check this to bypass SSL verification for self-signed certificate. Note that this might allow man-in-the middle attack!</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
