<% if step.model%>
  <table class="table table-striped table-condensed">
      <thead>
          <tr>
              <th>Package</th>
              <th>Entity Groups</th>
              <th>Available States</th>
              <th>Activity rule(s)</th>
              <th>Package rule(s)</th>
          </tr>
      </thead>
      <body>
          <%= render partial: "rule", collection: step.model, as: :package %>
      </body>
  </table>

    <%= link_to 'Let\'s create your tarification rule', new_setup_project_rule_path(current_user.project)  %>
<% end %>
