<div class="nested-fields row">
    <div class="col-md-2"><%= f.input :code %></div>
    <div class="col-md-3"><%= f.input :description %></div>
    <div class="col-md-6"><%= f.input :expression %></div>
    <div class="col-md-1"><%= link_to_remove_association '<i class="fa fa-minus text-danger" aria-hidden="true"></i>'.html_safe, f %></div>
</div>
