<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Async POC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
     i#color {
       display: block;
       width: 10px;
       height: 10px;
     }
    </style>
    <%= javascript_pack_tag 'hello_react' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id='js-fetch-button'></div>
      </div>
      <div class="row">
        <div id='js-period-selector'></div>
      </div>
      <div class="row">
        <div id="root" class="col-sm-9"></div>
        <div id="sidie" class="col-sm-3"></div>
      </div>
    </div>
  </body>
</html>
